.sec1 {
    background-image: url('/images/Rectangle\ 2.png');
    height: 716px;
}

.sec1child1 {
    background-image: url('/images/Rectangle\ 3.png');
    height: 100%;
}

.sep1_para1 {
    font-weight: 300;
    font-size: 30px;
    line-height: 65px;
    letter-spacing: -0.005em;
    text-transform: capitalize;
    color: #444444;
    margin: 0;
    padding: 0;
}

.sep1_para2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 65px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #00BCD5;
    margin: 0;
    padding: 0;
}

.sep1_para3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.005em;
    text-transform: capitalize;
    color: #404040;
    margin: 0;
    padding: 0;
}

.sec1child-i {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 400px;
    height: 400px;
    background: #FFFFFF;
    opacity: 0.7;
    border-radius: 100%;
    padding: 30px 0 0 70px;
}